html
{
  background-color: #7a6c96;
}

.Nav-bar
{
  position: 0;
  border: 6px solid #06948f;
  background-color: #28a67a;
  width:720px;
  padding: 10px;
  border-radius: 15px;
}

.Main
{
  font-size: 30px;
  color: black;
}

.About
{
  font-size:30px;
  color: black;
  margin-left:30px;
}

.contact
{
  font-size:30px;
  color: black;
  margin-left:30px;
}

.TY
{
  position: fixed;
  border: 6px solid #ff00c8;
  background-color: pink;
  border-radius: 30% / 10%;
  height: 150px;
  width: 300px;
  margin-top: 15px;
  margin-left: 4.5%;
}

.YTimage
{
  padding: 5px
}

.YTimage
{
  position: fixed;
  margin-top: 15px;
  margin-left: 70px;
}

.Youtube
{
  font-size: 20px;
  color: black;
  position: fixed;
  margin-left: 72%;
  margin-top: 20px;
}

.Y
{
  position: fixed;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 83%;
}

.w-logo
{
  width: 150px;
  position: fixed;
  margin-left: 68px;
  margin-top: 5px;
  
}

.w-div
{
  position: fixed;
  border: 6px solid #ff00c8;
  background-color: pink;
  border-radius: 30% / 10%;
  height: 150px;
  width: 300px;
  margin-top: 9%;
  margin-left: 40%;
}

.W-text
{
  position: fixed;
  font-size: 20px;
  margin-top: 135px;
  margin-left: 46%;
}

.A-logo
{
  width: 250px;
  position: fixed;
  margin-top: 45px;
  margin-left: 23px;
}

.Amz-div
{
  position: fixed;
  border: 6px solid #ff00c8;
  background-color: pink;
  border-radius: 30% / 10%;
  height: 150px;
  width: 300px;
  margin-top: 280px;
  margin-left: 6%;
}

.Amz-text
{
  position: fixed;
  font-size: 20px;
  Margin-top: 13.5%;
  margin-left: 12%;
}